html
  head
    title AmitVarma
    link(href='./public/css/searchcss1.css', media='all', rel='stylesheet', type='text/css')
  body.font-load
    div
      h1(style='color:black;')  Amit Varma
      h2(style='color:black;')
        | Professional Outlook
        | I approach each challenge with the same enthusiasm, desire to learn, and positive attitude you would expect to find in any star of the industry. It is this, combined with my strong skill set and experience, that I think would make me a valuable addition to any company. Be sure to browse through my CV site, so that you get a better idea of what I can offer you.
      h1(style='color:black;')
        | WELCOME TO MY RESUME
        | Learn About Me
      h1(style='color:black;')
        | About Amit Varma
        | WHO I AM
        | A dynamic professional with 1.6 years of experience in software automation testing. Possess significant knowledge  in Automation framework designing and creating automation scripts.
      h1(style='color:black;')  Professional History
      h1(style='color:black;')
        | MONOTYPE SOLUTIONS INDIA PVT. LTD. NOIDA
        | MAY 2016 TO TILL DATE.
        | Design, Develop and Execute automation scripts using Selenium and Nightwatch.
        | Create complete automation framework using Nightwatch , NodeJS ,Jenkins
        | Experienced in development of Test Plan, Test Strategy, Test Cases,
        | and Test Scenarios.
        | Extensive Performance, Stress, load, functional, black box testing
        | experience with strong Web Application Development experience.
        | Check the status of every issue across each modules day to day and update the
        | team lead on
        | Performing sanity testing once the build is ready to test.
        | Involved in Installation, Functional, Integration, smoke and Regression Testing.
        | Interacting with the developers to make sure that they have understood the issues
        | Work with development team to identify and capture test cases.
        | Support production deployment of applications and perform “validation testing”
        | Interact with product management, and development teams to develop a strong
        | understanding of the project and testing objectives.
        | Understanding of every feature from front end as well backend level which are going
        | to be developed
        | Understand the responsibilities of QA and test engineer
      h1(style='color:black;')
        | EDITSOFT DIGITAL PVT LTD GREATER NOIDA
        | SEP-2015 TO MAY-2016.
        | Created detailed, comprehensive and well-structured test cases
        | Design, develop and execute automation scripts using selenium.
        | Identify feature requirements and able to detect bugs
        | Perform thorough regression testing
        | Flexible, independent and self-motivated
        | Work under pressure and try to achieve deadlines
        | Work with development team to identify and capture test cases.
        | Support production deployment of applications and perform “validation testing”
        | Interact with product management, and development teams to develop a strong understanding of
        | the project and testing objectives
        | Participate in troubleshooting and triaging of issues with different teams to drive towards root
        | cause identification and resolution
        | Understanding of every feature from front end as well backend level which are going to be
        | developed
        | Understand the responsibilities of QA and test engineer
      h1(style='color:black;')
        | TOOLS,TECHNOLOGIES,LANGUAGES: Selenium,NightwatchJS,NodeJS,Jenkins, Testrail,Jira,MySQL,JAVA, C,JAVA SCRIPT
      h1(style='color:black;')
        | IMAGE ENCRYPTION USING QUASI GROUP:
        | In this research paper we work on develop a new approach for image encryption using
        | quasigroup and pixel reshuffling
      h1(style='color:black;')
        | IMPLEMENTATION OF IMAGE ENCRYPTION(AUG14-MAY15 )
        | This project is the windows based application of my research paper “ A NEW IMAGE
        | ENCRYPTION USING QUASI RANDOM SCATTER ”. It is user friendly software where user can reshuffle its image pixel and then encrypt and decrypt its image by using Quasi random scetter as its key.
      h1(style='color:black;') Educational Experience
      h1(style='color:black;')
        | GNIOT NOIDA,
        | INDIA
        | 2011-2015
        | Bachelor of Technology,
        | Computer Science and Engineering
      h1(style='color:black;')
      h1(style='color:black;')
      h1(style='color:black;')
